<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Webpack {{htmlWebpackPlugin.options.title}}</title> 
    {{!-- 이제 build된 파일(dist 폴더내에 index.html)을 보면 title값이 적용된것을 볼 수 있다. --}}
  </head>
  <body></body>
</html>
